* {
    margin: 0;
    padding: 0;
}

ul{
    list-style: none; /* убирает точки */
}

body {
    /* background-color: #ffffff; */
    background-color: #4284ff;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    /* background-color: #ced6ea; */
    background-color: white;
}

footer {
    /* background-color: #ced6ea; */
    background-color: red;
    text-align: center;
    color: black;
    padding: 20px, 40px;
}

footer p:last-child {
    text-align: center;
    margin-top: 15px;
}

#about {
    /* background-color:  rgb(255, 255, 255); */
    background-color: #4284ff;
    padding: 20px 40px;
    text-align: center;
}

blockquote{
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

p {
    font-size: 18px;
    padding: 0px 20px 20px 20px;
    color: #000000;
    font-weight: 400px;
}

p::first-line{
    letter-spacing: 1px;
}

/* Для англиского */
p:lang(en) {
    font-style: italic;
    font-weight: 600;
}
/* ............................ */

/* Страниици */

#content1, #content2, #content3, #content4 {
    background-color: rgb(255, 255, 255);
    padding: 20px, 40px;
    text-align: center;
}

/* #content2 {
    background-color: green;
    padding: 20px, 40px;    
    text-align: center;
}

#content3 {
    background-color: green;
    padding: 20px, 40px;
    text-align: center;
}

#content4 {
    background-color: rgb(163, 78, 163);
    padding: 20px, 40px;
    text-align: center;
} */

/* ....................................... */

/* Картинки */

img { 
    margin: 15px 0;
    padding: 5px;
    background-color: white;

}

header .smile-img{
    border-radius: 90px;
    border: 0px solid rgb(0, 0, 0);
    
}

footer .img-telegram, .img-cookie{
    border: 2px solid black;
    border-radius: 90px;
}

figcaption {
    text-align: center;
    margin-top: 5px;
    color: rgb(0, 0, 0);
    font-size: 14px;    
}

/* Рамка с информацией */

#articles {
    padding: 20px 40px; 
    width: 300px; /* Ширина */
    margin: 30px auto;
    list-style-type: none;
    border-radius: 50px; /* Закругление углов */
    background-color:#dacbed;
}

#bio1{
    padding: 2px 40px; 
    width: 300px; /* Ширина */
    margin: 3px auto;
    list-style-type: none;
    border-radius: 5px; /* Закругление углов */
    background-color:#dacbed;
}

/* Меняет цвет у слов в рамке с информацией через строку */
#articles ul li:nth-child(odd) .infa{ 
    color: #ff971f;
}

#articles ul li:nth-child(even) .infa{
    color: #4284ff;
}

/* Меняет цвет у слов в рамке с биография через строку */
#content1 ul li:nth-child(odd) .BBED{   
    color: #ff971f;
}

#content1 ul li:nth-child(even) .BBED{
    color: #4284ff;
}

/* ..................................................... */

/* infa */

.infa{
    font-size: 20px;
    margin-bottom: 12px;
    padding: 12px 20px;   /* Отступы сверху/снизу слева/справа  */ 
    text-decoration: none; /* нижнее подчеркивание */
    display: block; /* Делает из сылок отдельные блоки */
} 

.infa:hover{    
    color: rgb(0, 0, 0);
    background-color: yellow;
    outline: 4px solid rgb(0, 30, 255);
    border-radius: 20px;
}

.infa[href*="article4.html"]::after{
    content: "Важно!";
    color: red;
    padding: 2px 5px;
}

/* Введение */

.BBED{
    font-size: 20px;
    padding: 12px 20px;
    text-decoration: none;
}

.BBED:hover, .glavnaya:hover{
    color: white;
    padding: 1px 15px 0px ; /* вверх, лево/прво, низ */
    /* border-radius: 50px; */
    background-color: blue;
    outline: 4px solid rgb(0, 30, 255);
}

.BBED:focus, .glavnaya:focus{
    color: white;
    padding: 1px 15px 0px ;
    border-radius: 50px;
    background-color: #b4e6ff;
    outline: 4px solid blue; 
}

.INFA{
    font-size: 20px;
    padding: 12px 20px;
    text-decoration: none;
}

.INFA:hover, .INFA:hover{
    color: white;
    padding: 1px 15px 0px ; /* вверх, лево/прво, низ */
    /* border-radius: 50px; */
    background-color: blue;
    outline: 4px solid rgb(0, 30, 255);
}

.INFA:focus, .INFA:focus{
    color: white;
    padding: 1px 15px 0px;
    border-radius: 50px;
    background-color: #b4e6ff;
    outline: 4px solid blue; 
}

h2 {
    text-align: center;
}

.glavnaya{
    font-size: 30px;
    padding: 4px 20px;
    text-decoration: none;
}

body{
    /* border: 10px solid red; */
    font-size: initial;   
}

a:link { /* меняет цвет сылки пока по ней не перешли */
    color: rgb(2, 1, 1);
}

a:visited{ /* меняет цвет сылки после перехода поней */
    color: rgb(0, 0, 0);
}

a:focus{ /* меняет цвет после нажатие по сылке */
    color: rgb(255, 0, 0);
}

a:hover{ /* меняет цвет когда наводишь мышкой на сылку */
    color: yellow;
}

a:active{ 
    color: rgb(58, 30, 25);
}

.h2-new::after{
    content: "new";
    color: yellowgreen;
    margin-left: 15px ;
}

.links li{
    background-color: aqua;
}

dl{
    padding-left: 20px;
}

dl dt{
    font-weight: 600;
    padding: 3px 0px;
}

.poch, .tel{
    text-decoration: none;
}

/* ...схема... */

.my-table{
    border: solid 20px rgb(47, 47, 88);
    border-collapse: collapse;
}

.my-table td, .my-table th{
    border-bottom: solid 1px red; 
    padding: 10px 15px;
}

.my-table tr:nth-child(odd){
    color: rgb(145, 26, 26);
}

.my-table td:nth-child(even){
    background-color: rgb(43, 40, 201);
}

.my-table tr :last-child td :nth-child(2){
    text-align: center;
}

#register{
    width: 320px;
    margin: 10px auto;
    border-radius: 50px;
    padding: 60px;
    background-color: yellow;
}

#register input{
    background-color: aqua;
    padding: 7px;
}

#register input[type=submit]{
    background: dimgray;
    border-radius: 15px;
    padding: 7px;
    color: tomato;
}

#register input[type=submit]:hover{
    background-color: black;
}

